.container {
	.titulo-1 {
		  padding-top: 40px;
		  padding-bottom: 30px;
		  font-weight: 700;
		  clear: both;
		  display: block;
		  font-family: barlow;
	}
	
	.formColunas {
		float:left;
		margin-left: -1%;
		
		.fontTitulo {
			font-family: Barlow;
			margin-bottom: 1px;
			color: #607989;
		
			.fontConteudo{
				font-family: Verdana;
				color:#000;
			}
		}
	}
	
	.titulo-2 {
		padding-top: 50px;
		padding-bottom: 30px;
		font-weight: 700;
		clear: both;
		display: block;
		font-family: barlow;
	}
	
	.box {
		width: 2%;
		float: left;
		height: 190px
	}
	
	.linhaVertical {
		border-left: 2px solid #dfe6e8;
		box-sizing: border-box;
	}
	
	.formConteudo {
		padding-bottom: 30px;	
	}
	
	.botoes {
		margin-left: 77%;
		margin-right: 1%;
		
	}
	
	.bordasColunas-2 {
		border: 1px solid #dfe6e8;
		padding: 1%;
		font-family: Barlow;
		color: #607989;
		float: left;
		margin-left: 0.33%;
		max-width: 49%;
		margin-bottom: 0.33%;
		
		
		.fontBordas {
			font-family: Verdana;
			color:#000;
			margin-left: 10px;
		
			.conteudoBorda {
				margin-bottom: 10px;
			}

		}
	}	
	
	.bordasColunas-3 {
		border: 1px solid #dfe6e8;
		padding: 1%;
		font-family: Barlow;
		color: #607989;
		float: left;
		margin-left: 0.33%;
		max-width: 32.6%;
		margin-bottom: 0.33%;
		
		.fontBordas {
			font-family: Verdana;
			color:#000;
			margin-left: 10px;
		
			.conteudoBorda {
				margin-bottom: 10px;
			}

		}
	}	
	
	
	.bordasColunas-4 {
		border: 1px solid #dfe6e8;
		padding: 1%;
		font-family: Barlow;
		color: #607989;
		float: left;
		margin-left: 0.33%;
		max-width: 16.7%;
		margin-bottom: 0.33%;
		
		.fontBordas {
			font-family: Verdana;
			color:#000;
			margin-left: 10px;
		
			.conteudoBorda {
				margin-bottom: 10px;
			}
		
		}
	}
	
	.bordasColunas-5 {
		border: 1px solid #dfe6e8;
		padding: 1%;
		font-family: Barlow;
		color: #607989;
		float: left;
		margin-left: 0.33%;
		max-width: 32%;
		margin-bottom: 0.33%;
		
		.fontBordas {
			font-family: Verdana;
			color:#000;
			margin-left: 10px;
		
			.conteudoBorda {
				margin-bottom: 10px;
			}
		
		}
	}
	
	.links {
		color:#FFF !important;
	}
	
	.fontBimestre {
		font-family: Barlow;
		margin-left: 26%;
		color: #607989;
		
		.fontBimestre-2 {
			font-family: Barlow;
			margin-left: 10%;
			color: #607989;
			
			.fontBimestre-3 {
				font-family: Barlow;
				margin-left: 10%;
				color: #607989;
			}
		}
	}
	
	.formBimestreCol {
		float: left;
	}
	
	.linhaForm {
		clear:both;
		display: block;
		margin-bottom: 4%;
	}
		
	.titulo-3 {
		padding-top: 30px;
		padding-bottom: 20px;
		clear: both;
		display: block;
		font-family: barlow;
		color: #607989;
	}	
	
	.checarForm {
		margin-left: 2%;
		font-family: Verdana;
	}
	
	.checarForm-1 {
		margin-left: 19%;
		margin-top: -2%;
		font-family: Verdana;
	}
	
	.checarForm-2 {
		margin-left: 45%;
		margin-top: -2%;
		font-family: Verdana;
	}
}